<li>
    <a href="#billingSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
        <i class="fas fa-receipt"></i>
        <span>Billing</span>
    </a>
    <ul class="collapse list-unstyled" id="billingSubmenu">
        <li><a href="/Billing" class="nav-link"><i class="fas fa-list"></i> Danh sách</a></li>
        <li><a href="/Billing/Create" class="nav-link"><i class="fas fa-plus"></i> Tạo hóa đơn</a></li>
        <li><a href="/Billing/Report" class="nav-link"><i class="fas fa-chart-bar"></i> Báo cáo</a></li>
    </ul>
</li>
