@* My Profile Menu - For Resident Only *@
<li class="nav-item">
    <a class="nav-link" href="/Resident/MyProfile">
        <i class="fas fa-user-circle"></i>
        <span>Hồ sơ của tôi</span>
    </a>
</li>
