<li>
    <a href="#notificationsSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
        <i class="fas fa-bell"></i>
        <span>Notifications</span>
    </a>
    <ul class="collapse list-unstyled" id="notificationsSubmenu">
        <li><a href="/Notification" class="nav-link"><i class="fas fa-list"></i> Danh sách</a></li>
        <li><a href="/Notification/Create" class="nav-link"><i class="fas fa-plus"></i> Tạo thông báo</a></li>
    </ul>
</li>
