<li>
    <a href="#reportsSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
        <i class="fas fa-chart-line"></i>
        <span>Reports</span>
    </a>
    <ul class="collapse list-unstyled" id="reportsSubmenu">
        <li><a href="/Report" class="nav-link"><i class="fas fa-file-alt"></i> Báo cáo tổng hợp</a></li>
        <li><a href="/Report/Analytics" class="nav-link"><i class="fas fa-chart-pie"></i> Phân tích</a></li>
    </ul>
</li>
