<li>
    <a href="#residentsSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
        <i class="fas fa-users"></i>
        <span>Residents</span>
    </a>
    <ul class="collapse list-unstyled" id="residentsSubmenu">
        <li><a href="/Resident" class="nav-link"><i class="fas fa-list"></i> Danh sách</a></li>
        <li><a href="/Resident/Create" class="nav-link"><i class="fas fa-plus"></i> Thêm mới</a></li>
    </ul>
</li>
