<li>
    <a href="#servicesSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
        <i class="fas fa-concierge-bell"></i>
        <span>Services</span>
    </a>
    <ul class="collapse list-unstyled" id="servicesSubmenu">
        <li><a href="/ServiceRequest" class="nav-link"><i class="fas fa-list"></i> Yêu cầu dịch vụ</a></li>
        <li><a href="/ServiceRequest/Create" class="nav-link"><i class="fas fa-plus"></i> Tạo yêu cầu</a></li>
    </ul>
</li>
