<li>
    <a href="#staffSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
        <i class="fas fa-user-tie"></i>
        <span>Staff</span>
    </a>
    <ul class="collapse list-unstyled" id="staffSubmenu">
        <li><a href="/Staff" class="nav-link"><i class="fas fa-list"></i> Danh sách</a></li>
        <li><a href="/Staff/Create" class="nav-link"><i class="fas fa-plus"></i> Thêm mới</a></li>
    </ul>
</li>
